@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat",sans-serif;
    color:#fff;
    background-color: #111;
}
.container{
    max-width: 80rem;
    margin:0 auto;
}
/*-------------------- navbar section ----------------- */
.container .navbar{
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 12vh;
    margin-top: 30px;
}
.navbar .logo img{
    width:100px;
}
.navbar .list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap:70px;
    align-items: start;
    font-size: 13px;
    font-weight:500;
}
.list .list-item{
    cursor: pointer;
}
/*------------------- hero section ---------------- */
.hero-section{
    display:flex;
    justify-content:center; 
    position:relative;
}
.left-container img{
    width:640px;
}
.left-container{
    margin-top: -80px;
    margin-left: -140px;
}
.right-container{
    margin-top: 120px;
}
.right-container h4{
    color:  #f83241;
    font-size: 1.4rem;
}
.right-container h1{
    font-size: 4rem;
    margin-bottom: 10px;
}
.right-container p{
    font-size: 1.2rem;
    margin-bottom: 10px;
    line-height: 22px;
}
.btn{
    background-color:#c91b28;;
    color:#fff;
    border:none;
    font-size: 18px;
    padding:18px 40px;
    margin-top: 30px;
    cursor: pointer;
}
.hero-section .box{
    background-color: #181818;
    width:53rem;
    height:960px;
    position: absolute;
    left:-200px;
    top:560px;
    z-index:-1;
}
/*---------------- services section ---------------- */
.service-section{
    margin-top: 100px;
}
.service-cards .service-card{
    background-color:  #1e1e1e;
    padding:40px 50px;
    display:flex;
    flex-direction: column;
    gap:5px;
}
.service-card:first-child .logo img{
    width:60px;
}
.service-card:nth-child(2) .logo img{
    width:53px;
}
.service-card:last-child .logo img{
    width:67px;
}
.service-cards{
    display:flex;
    justify-content: center;
    gap:20px;
}
.service-card h1{
    font-weight: 600;
    margin:20px 0;
}
.service-card .button{
    font-size: 1.3rem;
}
.service-card p{
    font-size: 1.4rem;
    color: #cecece;
}
.service-cards .service-card:nth-child(2){
    background-color: #f83241;
}
.service-card:first-child .button ,.service-card:last-child .button{
    background-color: transparent;
    color:#f83241;
    border:none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 26px;
}
.service-card:first-child .fa-solid,.service-card:last-child .fa-solid{
    margin-left:10px;
    color:#f83241;
    cursor: pointer;
}
.service-card:nth-child(2) .button{
    background-color: transparent;
    color:#fff;
    border:none;
    margin-top: 26px;
    font-weight: 400;
    font-size: 1.1rem;
    cursor: pointer;
    margin-right: 10px;
}
.service-card:nth-child(2) .fa-solid{
    cursor: pointer;
}
/*------------------ service stats section ------------------- */
.service-stats{
    margin-top: 150px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.service-stats .left-container{
    margin-left: 100px;
    text-align: center;
}
.service-stats .left-container h1{
    font-size: 7rem;
    color:#f83241;
}
.service-stats .left-container p{
    font-size: 2rem;
    font-weight: 600;
    white-space: nowrap;
}
.service-stats .right-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    align-items: center;
    text-align: center;
    margin-left: -30px;
    margin-top: -50px;
}
.right-container .stats-card{
    width:320px;
    height: 120px;
    background-color: #1e1e1e;
}
.stats-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-container .stats-card h1{
    color:#f83241;
    font-size: 2.9rem;
}
.right-container .stats-card p{
    color:#cecece;
    font-size:17px;
}
/*------------- project section -------------- */
.featured-project-section{
    margin-top: 200px;
}
.project-headline{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 80px;
    margin-bottom: 100px;
}
.project-headline .headline-left h1{
    font-size: 2.4rem;
    margin-bottom: 10px;
}
.project-headline .headline-left p{
    color:#cecece;
}
.project-headline .headline-right button{
    background-color: #f83241;
    padding:15px 40px;
    border:1.3px solid #fff;
    color:#fff;
    font-size: 17px;
    cursor: pointer;
    font-weight: 500;
}
.project-cards{
    display:flex;
    gap:30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:100px;
}
.project-cards .project-card .project-img{
    background-color: #1e1e1e;
    width:34rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.project-cards .project-card img{
    width:30rem;
}
.project-cards .project-card h1{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}
.project-cards .project-card .project-btn{
    color:#f83241;
    display: flex;
    align-items: center;
    gap:10px;
}
.project-btn i{
    cursor: pointer;
}
.project-card .project-btn button{
    background-color: transparent;
    border:none;
    color:#f83241;
    text-transform: uppercase;
    font-size: 600;
    cursor: pointer;
    font-size: 17px;
}
.contact-section{
    margin:0 80px 40px 80px;
}
.contact-card{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: #1e1e1e;
    padding:70px 40px;
    flex-wrap: wrap;
}
.contact-card .contact-left h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
.contact-card .contact-left p{
    color:#cecece
}
.contact-right button{
    background-color: #f83241;
    border: none;
    padding:16px 60px;
    color:#fff;
    cursor: pointer;
    margin-right: 100px;
    font-size: 1.1rem;
}
/* footer-section  */
.footer-section{
    margin-top: 100px;
    margin-bottom: 50px;
}
.footer-section ul{
    list-style-type: none;
    display:flex;
    justify-content: center;
    gap:40px;
    font-size: 12px;
    font-weight: 500;
}
.footer-section ul li{
    cursor: pointer;
}
.footer-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    background-color: #1e1e1e;
    height:140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo{
    margin-left:200px;
    width:100px;
}
.footer-logo img{
    width:100%;
}
.footer-wrapper .social-icons{
    margin-right: 500px;
    display:flex;
    gap:50px;
}
.footer-wrapper .social-icons img{
    cursor: pointer;
}